@charset "ISO-8859-1";
.footer{
    background-color: rgb(251, 222, 222);
    width: 100%;
    height: 60px; 
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footer a{
   
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: bold;
    
}
.footer :hover{
    text-decoration: underline;
}