@charset "ISO-8859-1";
.wrapper {
  background-image: url(../images/review.jpg);
  position: relative;
  background-size: cover;
  color: rgb(213, 181, 181);
}

.wrapper ::after {
  content: "";
  position: absolute;
  background: rgba(0,0,0,0.6);
}

.review-form {
  margin-bottom: 20px;
}
.review-form textarea {
  width: 50%;
  margin-bottom: 10px;
  margin-left: 25%;
  height: 200px;
  border-radius: 3%;
}
.review-list {
  list-style-type: none;
  padding: 0;
  
}
.review-list li {
  padding: 10px;
  line-height: 1.5rem;
  margin-top: 10px;
  background-color: rgba(94, 94, 94, 0.6);

}

.review-list li:hover {
  background-color: rgba(136, 136, 136, 0.4);
  color: rgb(0, 0, 0);
}
  h2 {
    text-align: center;
    padding-top: 3%;
    padding-bottom: 3%;
  }


  #submitReview{
    margin-left: 45%;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
  }

  footer {
    text-align: center;
    background-color: rgb(34, 42, 49);
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    color: rgb(230, 230, 230);
  }