@charset "ISO-8859-1";
/* Global styles */
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
  }

  table tr th{
    text-align: center;
  }

  /* table tr td{
    background-color: white;
  } */
  
  /* Content container */
  .content {
    margin-left: 260px;
    padding: 57px 0;
    /* height: 1000px; */
  }
  
  /* Title styles */
  .title {
    padding: 10px 15px;
  }
  
  .title h2 {
    background-color: #0A223D;
    color: #FBD822;
    border-radius: 5px;
    padding: 10px 20px;
  }
  
  /* Table styles */
  .table-data {
    padding: 0 15px;
  }
  
  .table-data table {
    width: 100%;
    outline: none;
    border-collapse: collapse;
  }
  
  .table-data table tr {
    height: 50px;
  }
  
  .table-data table td {
    text-align: center;
  }
  
  /* Alternate row background color */
  /* table tr:nth-child(even) {
    background-color: #D6EEEE;
  } */
  
  /* Delete button styles */
  .del-btn {
    background-color: red;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    height: 30px;
    width: 70px;
  }
  
  .operation-btn{
	   display: flex;
	   gap: 30px;
	   justify-content: center;
	   border:none;
  }
  .delete{
	background-color: red;
	color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    height: 30px;
    width: 70px;
  }
   .del-btn :hover {
    text-decoration: underline;
  } 
  
  .del-btn a {
    text-decoration: none;
    color: white;
  }
  
  /* Add button styles */
  .add-btn {
    margin-left: 15px;
    margin-bottom: 15px;
  }
  
  tr, td {
	  border:1px solid black;
  }
  
  .add-btn button {
    background-color: blue;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    height: 50px;
    width: 250px;
  }
  
  .add-btn button a {
    text-decoration: none;
    font-size: 16px;
    color: white;
    font-weight: bold;
  }

  .add-btn :hover{
    text-decoration: underline;
    color: white;
  }