@charset "ISO-8859-1";
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
  }
  
  .content {
    margin-left: 260px;
    padding: 57px 0;
  }
  
  .title {
    padding: 10px 15px;
  }
  
  .title h2 {
    background-color: #0A223D;
    color: #FBD822;
    border-radius: 5px;
    padding: 10px 20px;
  }
  
  .form-group {
    margin: 0 15px;
    padding: 20px;
    background-color: #F1F1F1;
    color: #333;
    border-radius: 5px;
  }
  
  .input-group {
    margin-bottom: 30px;
  }
  
  .input-group label {
    display: block;
    font-size: 18px;
    margin-bottom: 5px;
  }
  
  .input-group input,
  .input-group textarea {
    width: 100%;
    height: 35px;
    border: 1px solid #999;
    border-radius: 5px;
    padding: 3px 10px;
    font-size: 16px;
    box-sizing: border-box;
  }
  
  .input-group textarea {
    resize: none;
    height: 100px;
  }
  
  .btn {
    width: 20%;
    height: 40px;
    background-color: #0A223D;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .btn:hover {
    background-color: #FBD822;
  }
  

  .input-group select {
    width: 100%;
    height: 35px;
    border: 1px solid #999;
    border-radius: 5px;
    padding: 3px 10px;
    font-size: 16px;
    box-sizing: border-box;
}